<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvQCSA6G5hHLef4q6752A4nfTU7mgEhRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>302881418585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.adappt.whoarv</string>
	<key>PROJECT_ID</key>
	<string>arvdev-d9af1</string>
	<key>STORAGE_BUCKET</key>
	<string>arvdev-d9af1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302881418585:ios:7f351a18df2030c677b048</string>
</dict>
</plist>